.header {
  padding: 20px 0;
  background-color: #808080;
}

.header-logo {
  margin-bottom: 25px;

  @include max(600) {
    margin-bottom: 10px;
  }
  img {
    display: block;
    width: 99px;
    height: 93px;
    margin: 0 auto;
  }
}

.header-menu {
  max-width: 600px;
  margin: 0 auto;
  @include max(600) {
    display: none;
  }
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  @include max(600) {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
}

.header-menu__item {
  @include max(600) {
    margin-bottom: 10px;
  }
}
.header-menu__link {
  font-size: 18px;
  position: relative;
  transition: color .5s;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 3px;
    margin: auto;
    content: '';
    transition: width .5s;
    background-color: #0ff;
  }
  &:hover {
    color: #0ff;
    &::before {
      width: 100%;
    }
  }
}
