.header {
  padding: 20px 0;
  background-color: #808080;
}

.header-logo {
  margin-bottom: 25px;
  img {
    display: block;
    width: 99px;
    height: 93px;
    margin: 0 auto;
  }
}

.header-menu {
  margin: 0 auto;
  max-width: 600px;
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.header-menu__link {
  font-size: 18px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
    transition: color .5s;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 3px;
    content: '';
    transition: width .5s;
    background-color: #0ff;
    margin: auto;
    right: 0;
  }
  &:hover {
    color: #0ff;
    &::before {
    width: 100%;
    }
  }
}
