.who-we-are {
  padding: 240px 0 320px 0;
  background-image: url('../img/bg-who-we-are.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.who-we-are__header {
  text-align: center;
}
.who-we-are__title {
  font-size: 44px;
  font-weight: 300;
  text-transform: uppercase;
  color: #010101;
  margin-bottom: 30px;
}
.who-we-are__row {
  display: flex;
  flex-wrap: wrap;
}
.who-we-are__item {
  width: 50%;
  padding: 20px 35px 10px 35px;
  border-left: 2px solid #010101;
  &:last-child {
  border-right: 2px solid #010101;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -.3px;
  }
}