//begin footer
footer#footer.footer
  .container
    .footer-logo
      img(src="assets/img/logo.png" alt="carmellinvest")
    h2.footer__title Contacts us
    a.footer__link(href="https://goo.gl/maps/peZh8CmSmiv" target="_blank" rel="nofollow noopener noreferrer") Office 33, 27 Colmore Row, Birmingham, England, B3 2EW
    br
    a.footer__link(href="mailto:info@carmell-invest.com")
      |info
      span @
      |carmell-invest.com
//end footer