//begin hospital
section#hospital.hospital
  .container
    header.hospital__header
      h2.hospital__header-title Hospital equipment
    .hospital__text
      p At Carmell Invest we are creating turnkey projects of medical equipment for newly built hospitals and for existing ones. We are striving to provide state-of-the-art equipment to our clients, trying to understand and satisfy their real needs. To help us direct your enquiry to the right team at Carmell Invest, please contact us!
//end   hospital