//begin medical-devices
section#medical-devices.medical-devices
  .container
    header.medical-devices__header
      h2.medical-devices__header-title Medical
        span devices
    .medical-devices__text
      p We have access to a wide array of products like Disposables, Test and Diagnostic products, Small Medical Devices and Medical furniture from leading manufacturers: Hitachi Medical systems, Mindray Medical International Limited, ZONARE Medical Systems, Inc., Borcad Medical, Liberec MZ, Betten Malsch GmbH, Greggersen gasetechnik GmbH, Airpol Sp. z o.o., ZTP Tepro s.a., Medec Benelux nv, Medistim ASA, Lawton GmbH etc and Maquet Cardiopulmonary GmbH.
//end   medical-devices