//begin partners
section#partners.partners
  .container
    .partners__header
      h2.partners__header-title Partners
    ul.partners__list
      li.partners__item
        a(href="https://www.lawton.de" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-01.jpg" alt="partner")
      li.partners__item
        a(href="http://www.mindray.com/ru/index.html" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-02.jpg" alt="partner")
      li.partners__item
        a(href="http://www.hitachi.com/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-03.jpg" alt="partner")
      li.partners__item
        a(href="https://medistim.com/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-04.jpg" alt="partner")
      li.partners__item
        a(href="http://www.airpol.com.pl/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-05.jpg" alt="partner")
      li.partners__item
        a(href="https://www.tepro-gmbh.de/en/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-06.jpg" alt="partner")
      li.partners__item
        a(href="https://www.maquet.com/int/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-07.jpg" alt="partner")
      li.partners__item
        a(href="http://www.mindray.com/en/productlist/Ultrasound-Zonare.html" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-08.jpg" alt="partner")
      li.partners__item
        a(href="http://www.medecbenelux.be/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-09.jpg" alt="partner")
      li.partners__item
        a(href="https://www.greggersen.de/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-10.jpg" alt="partner")
      li.partners__item
        a(href="https://www.malsch.de/pb/,Lde/20527.html" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-11.jpg" alt="partner")
      li.partners__item
        a(href="http://www.mzliberec.cz/en/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-12.jpg" alt="partner")
      li.partners__item
        a(href="http://www.borcad.cz/en/" target="_blank" rel="nofollow noopener noreferrer").partners__link
          img(src="assets/img/partners/partner-13.jpg" alt="partner")
//end   partners