//begin what-we-do
section#what-we-do.what-we-do
  .container
    header.what-we-do__header
      h2.what-we-do__header-title What we do
    .what-we-do__row
      .what-we-do__item
        .what-we-do__icon
          svg
            use(xlink:href="assets/img/sprite.svg#flag")
        h3.what-we-do__title Quality
        p Our mission is to provide our clients with the highest quality products for competitive price.

      .what-we-do__item
        .what-we-do__icon
          svg
            use(xlink:href="assets/img/sprite.svg#graf")
        h3.what-we-do__title management
        p We do hospital and logistics management consulting so our clients in public and private sectors can optimize the use of their valuable resources.

//end   what-we-do