//begin who-we-are
section.who-we-are
  .container
    header.who-we-are__header
      h2.who-we-are__title Who we are
    .who-we-are__row
      .who-we-are__item
        p Carmell Invest is an international company offering a wide range of medical equipment from the best manufacturers and wholesalers in the EU, United States of America and China.
      .who-we-are__item
        p We supply medical devices, surgical instruments, products for cardiopulmonary, medical gas supply systems, baby products, hospital and emergency equipment to our clients worldwide.

//end   who-we-are