*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Teko', sans-serif;
	font-size: 16px;
	line-height: 1.38;
	color: #000;
}

body {
	min-width: 320px;
}

svg {
	display: block;
	overflow: visible;
}

.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}