block variables

doctype html
html(lang="eng")
  head
    meta(charset="utf-8")
    title #{title}

    // begin responsive
    meta(name="viewport"              content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    // begin favicon block start
    link(rel='shortcut icon'    type='image/x-icon' href='assets/img/favicon/favicon.png')

    link(href='https://fonts.googleapis.com/css?family=Teko:300,400,600', rel='stylesheet')
    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/app.css')

    // begin custom browsers color
    meta(name='theme-color', content='#00ffff')

    //[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]

  body
    block content


    script(src='assets/js/foundation.js')
    script.
      // begin SVG for IE
      $(function () {
        svg4everybody();
      });
      // end SVG for IE


      // begin scroll 2 ancore desktop menu
      $(function () {
        $('.header-menu__item a[href*=\\#]').on("click", function (e) {
          var anchor = $(this);
          $('html, body').stop().animate({
            scrollTop: $(anchor.attr('href')).offset().top - 0 + 'px'
          }, 1000);
        });
        return false;
      });
      // end scroll 2 ancore desktop menu


      // initMap() - функция инициализации карты
      function initMap() {
        var centerLatLng = new google.maps.LatLng(51.524807008068414, -0.10222978858747618);
        var mapOptions = {
          center: centerLatLng,
          zoom: 17,
          styles: [{
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#d3d3d3"}]
          }, {
            "featureType": "transit",
            "stylers": [{"color": "#808080"}, {"visibility": "off"}]
          }, {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [{"visibility": "on"}, {"color": "#b3b3b3"}]
          }, {
            "featureType": "road.highway",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#ffffff"}]
          }, {
            "featureType": "road.local",
            "elementType": "geometry.fill",
            "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"weight": 1.8}]
          }, {
            "featureType": "road.local",
            "elementType": "geometry.stroke",
            "stylers": [{"color": "#d7d7d7"}]
          }, {
            "featureType": "poi",
            "elementType": "geometry.fill",
            "stylers": [{"visibility": "on"}, {"color": "#ebebeb"}]
          }, {
            "featureType": "administrative",
            "elementType": "geometry",
            "stylers": [{"color": "#a7a7a7"}]
          }, {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#ffffff"}]
          }, {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [{"color": "#ffffff"}]
          }, {
            "featureType": "landscape",
            "elementType": "geometry.fill",
            "stylers": [{"visibility": "on"}, {"color": "#efefef"}]
          }, {
            "featureType": "road",
            "elementType": "labels.text.fill",
            "stylers": [{"color": "#696969"}]
          }, {
            "featureType": "administrative",
            "elementType": "labels.text.fill",
            "stylers": [{"visibility": "on"}, {"color": "#737373"}]
          }, {
            "featureType": "poi",
            "elementType": "labels.icon",
            "stylers": [{"visibility": "off"}]
          }, {
            "featureType": "poi",
            "elementType": "labels",
            "stylers": [{"visibility": "off"}]
          }, {
            "featureType": "road.arterial",
            "elementType": "geometry.stroke",
            "stylers": [{"color": "#d6d6d6"}]
          }, {
            "featureType": "road",
            "elementType": "labels.icon",
            "stylers": [{"visibility": "off"}]
          }, {}, {"featureType": "poi", "elementType": "geometry.fill", "stylers": [{"color": "#dadada"}]}]
        };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var image = "assets/img/marker.png";
        var marker = new google.maps.Marker({
          position: centerLatLng,
          map: map,
          icon: image
        });
      }
      google.maps.event.addDomListener(window, "load", initMap);

      // begin menu
      $('#burger label').on('click', function () {
        $('.header-menu').slideToggle();
      });
      $('#burger label .header-menu__link').on('click', function () {
        $('.header-menu').slideUp();
      });
      // end menu

