extends ../_template

block variables
  - var title = 'Carmellinvest'

block content
  include ../sections/header

  //begin content
  section.main
    include ../sections/top-sec
    include ../sections/who-we-are
    include ../sections/what-we-do
    include ../sections/medical-devices
    include ../sections/partners
    include ../sections/hospital
    include ../sections/map
  //end content

  include ../sections/footer
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGbaaf94NCuCkoH98Ry12HA59U0eTqIA")